.header {
  position: fixed;
  width: 100%;
  z-index: 10;
  transition: 0.6s;
  transition-timing-function: ease-in-out;
  transition-delay: 250ms;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  &-wrapper {
    padding: 2.31rem 1.25rem 2.9375rem;
    width: 100%;
    transition: 0.6s;
    background-image: url(../images/header-1/Frame320.png);
    background-repeat: no-repeat;
    background-size: 100% 100%;

    @media (min-device-pixel-ratio: 2), (min-resolution: 192dpi), (min-resolution: 2dppx) {
      background-image: url(../images/header-1/Frame320@2x.png);
    }
    @media (min-device-pixel-ratio: 3), (min-resolution: 288dpi), (min-resolution: 3dppx) {
      background-image: url(../images/header-1/Frame320@3x.png);
    }

    @media screen and (min-width: 768px) {
      padding: 2.5rem 2.1rem 2.81rem;

      background-image: url(../images/header-1/Frame786.png);

      @media (min-device-pixel-ratio: 2), (min-resolution: 192dpi), (min-resolution: 2dppx) {
        background-image: url(../images/header-1/Frame768@2x.png);
      }
      @media (min-device-pixel-ratio: 3), (min-resolution: 288dpi), (min-resolution: 3dppx) {
        background-image: url(../images/header-1/Frame768@3x.png);
      }
    }

    @media screen and (min-width: 1280px) {
      max-width: 1280px;
      background-image: url(../images/header-1/tekstura-2-1280px.png);

      @media (min-device-pixel-ratio: 2), (min-resolution: 192dpi), (min-resolution: 2dppx) {
        background-image: url(../images/header-1/tekstura-2-1280@2x.png);
      }
      @media (min-device-pixel-ratio: 3), (min-resolution: 288dpi), (min-resolution: 3dppx) {
        background-image: url(../images/header-1/tekstura-2-1280@3x.png);
      }
    }
    &__library {
      background-image: url(../images/header-2/Rectangle320.png);
      background-repeat: no-repeat;
      background-size: 100% 100%;
      padding: 2.31rem 1.25rem 2.9375rem;

      @media (min-device-pixel-ratio: 2), (min-resolution: 192dpi), (min-resolution: 2dppx) {
        background-image: url(../images/header-2/Rectangle320@2x.png);
      }
      @media (min-device-pixel-ratio: 3), (min-resolution: 288dpi), (min-resolution: 3dppx) {
        background-image: url(../images/header-2/Rectangle320@3x.png);
      }

      @media screen and (min-width: 768px) {
        padding: 2.5rem 2.1rem 2.81rem;

        background-image: url(../images/header-2/Rectangle768.png);

        @media (min-device-pixel-ratio: 2), (min-resolution: 192dpi), (min-resolution: 2dppx) {
          background-image: url(../images/header-2/Rectangle768@2x.png);
        }
        @media (min-device-pixel-ratio: 3), (min-resolution: 288dpi), (min-resolution: 3dppx) {
          background-image: url(../images/header-2/Rectangle768@3x.png);
        }
      }

      @media screen and (min-width: 1280px) {
        background-image: url(../images/header-2/Rectangle-1280px.png);

        @media (min-device-pixel-ratio: 2), (min-resolution: 192dpi), (min-resolution: 2dppx) {
          background-image: url(../images/header-2/Rectangle-1280px@2x.png);
        }
        @media (min-device-pixel-ratio: 3), (min-resolution: 288dpi), (min-resolution: 3dppx) {
          background-image: url(../images/header-2/Rectangle-1280px@3x.png);
        }
      }
    }

  }
  &__container {
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    min-width: 100%;
    height: 100%;
    transition: 0.6s;
    padding-bottom: 54px;
    &--padding {
      padding: 0;
      @media screen and (min-width: 360px) {
        padding-bottom: 54px;
      }
    }
  }
  &__box {
    display: flex;
    justify-content: center;
    align-items: center;
    &-link {
      display: none;
      @media screen and (min-width: 768px) {
        text-decoration: none;
        font-size: 1.875rem;
        line-height: 1.16;
        display: flex;
        align-items: center;
        text-align: center;
        padding-left: 10px;
        color: $background-color;
      }
    }
  }
}

.login__button {
  border: none;
  background-color: transparent;
  color: #fff;
  margin-left:auto;
  font-size: 16px;
  transition: color 250ms ease;
  &:hover{
    color: orange;
  }
}