.header {
  margin: auto;
  max-width: 1280px;
  padding: 10px;
  background-color: aqua;
  display: flex;
  align-items: center;
  justify-content: center;
}

.modal {
  margin: auto;
  height: 500px;
  width: 500px;
  max-width: 1280px;
  padding: 10px;
  background-color: pink;
  display: flex;
  align-items: center;
  justify-content: center;
}
