.header {
  position: fixed;
  opacity: 90%;
  background-image: url(../images/header-1/abstract-background-with-red-lines-320px.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
  z-index: 1000;
  transition: 0.6s;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 2.31rem 1.25rem 2.9375rem;

  @media (min-device-pixel-ratio: 2), (min-resolution: 192dpi), (min-resolution: 2dppx) {
    background-image: url(../images/header-1/abstract-background-with-red-lines-320px@2x.jpg);
  }
  @media (min-device-pixel-ratio: 3), (min-resolution: 288dpi), (min-resolution: 3dppx) {
    background-image: url(../images/header-1/abstract-background-with-red-lines-320px@3x.jpg);
  }

  @media screen and (min-width: 768px) {
    padding: 2.5rem 2.1rem 2.81rem;

    background-image: url(../images/header-1/abstract-background-with-red-lines-768px.jpg);

    @media (min-device-pixel-ratio: 2), (min-resolution: 192dpi), (min-resolution: 2dppx) {
      background-image: url(../images/header-1/abstract-background-with-red-lines-768px@2x.jpg);
    }
    @media (min-device-pixel-ratio: 3), (min-resolution: 288dpi), (min-resolution: 3dppx) {
      background-image: url(../images/header-1/abstract-background-with-red-lines-768px@3x.jpg);
    }
  }

  @media screen and (min-width: 1280px) {
    background-image: url(../images/header-1/abstract-background-with-red-lines-1280px.jpg);

    @media (min-device-pixel-ratio: 2), (min-resolution: 192dpi), (min-resolution: 2dppx) {
      background-image: url(../images/header-1/abstract-background-with-red-lines-1280px@2x.jpg);
    }
    @media (min-device-pixel-ratio: 3), (min-resolution: 288dpi), (min-resolution: 3dppx) {
      background-image: url(../images/header-1/abstract-background-with-red-lines-1280px@3x.jpg);
    }
  }

  &__container {
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    min-width: 100%;
    height: 100%;
    transition: 0.6s;
    padding-bottom: 54px;
  }
  &__box {
    display: flex;
    justify-content: center;
    align-items: center;
    &-link {
      display: none;
      @media screen and (min-width: 768px) {
        text-decoration: none;
        font-size: 1.875rem;
        line-height: 1.16;
        display: flex;
        align-items: center;
        text-align: center;
        padding-left: 10px;
        color: $background-color;
      }
    }
  }
  &__library {
    opacity: 90%;
    background-image: url(../images/header-2/Rectangle-320px.jpg);
    background-repeat: no-repeat;
    background-size: 100% 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 2.31rem 1.25rem 2.9375rem;

    @media (min-device-pixel-ratio: 2), (min-resolution: 192dpi), (min-resolution: 2dppx) {
      background-image: url(../images/header-2/Rectangle-320px@2x.jpg);
    }
    @media (min-device-pixel-ratio: 3), (min-resolution: 288dpi), (min-resolution: 3dppx) {
      background-image: url(../images/header-2/Rectangle-320px@3x.jpg);
    }

    @media screen and (min-width: 768px) {
      padding: 2.5rem 2.1rem 2.81rem;

      background-image: url(../images/header-2/Rectangle-768px.jpg);

      @media (min-device-pixel-ratio: 2), (min-resolution: 192dpi), (min-resolution: 2dppx) {
        background-image: url(../images/header-2/Rectangle-768px@2x.jpg);
      }
      @media (min-device-pixel-ratio: 3), (min-resolution: 288dpi), (min-resolution: 3dppx) {
        background-image: url(../images/header-2/Rectangle-768px@3x.jpg);
      }
    }

    @media screen and (min-width: 1280px) {
      background-image: url(../images/header-2/Rectangle-1280px.jpg);

      @media (min-device-pixel-ratio: 2), (min-resolution: 192dpi), (min-resolution: 2dppx) {
        background-image: url(../images/header-2/Rectangle-1280px@2x.jpg);
      }
      @media (min-device-pixel-ratio: 3), (min-resolution: 288dpi), (min-resolution: 3dppx) {
        background-image: url(../images/header-2/Rectangle-1280px@3x.jpg);
      }
    }
  }
  &__fixed {
    position: fixed;
    flex-direction: row;
    padding: 10px 20px;
    opacity: 1;
    border-radius: 10px;
    &-container {
      min-width: auto;
      padding: 0px;
      transform: 0.6s;
    }
  }
}

.modal {
  margin: auto;
  height: 500px;
  width: 500px;
  max-width: 1280px;
  padding: 10px;
  background-color: pink;
  display: flex;
  align-items: center;
  justify-content: center;
}
