.library-watched,
.library-queue {
  padding-top: 17.92rem;
  padding-inline: 32px;
  margin: 0 auto;
  max-width: 1280px;
  // height: 100vh;
  display: grid;
  grid-gap: 32px 16px;
  justify-content: center;
  align-items: center;
  // background-color: aquamarine;
  margin-bottom: 50px;
  @media screen and (min-width: 260px) {
    padding-top: 15rem;
  }
  @media screen and (min-width: 350px) {
    padding-top: 16.46rem;
  }
  @media screen and (min-width: 768px) {
    padding-top: 17.92rem;
  }
  @media screen and (min-width: 1280px) {
    padding-top: 17.92rem;
  }
}

  .library-text {
    text-align: center;
    color: black;
    &__link {
      color: $color-film-genre;
      text-decoration: underline;
    }
  }

  .is-hidden {
    display: none;
  }

  .travolta-gif,
  .scott-gif {
    display: block;
    width: 100%;
    max-width: 800px;
    margin: 0 auto;
  }
