.container {
  display: flex;
  justify-content: center;
  align-content: center;
  // padding-top: 18rem;
}

// .library-empty-img {
//     margin: 0 auto;
//     display: flex;
//     flex-direction: column;
//     align-items: center;
//     justify-content: center;
//   }

  .library-text {
    color: black;
  }

  .is-hidden {
    display: none;
  }

  // .travolta-gif {

  // }