.navigation {
  &__list {
    list-style: none;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    // flex-wrap: wrap-reverse;
    // gap: 2.4375rem;
    
  }
  &__link {
    text-decoration: none;
    color: #ffffff;
    margin-right: 20px;
    &--home {
      position: relative;
      
      &::before {
        content: ' ';
        position: absolute;
        top: 14px;
        width: 35px;
        height: 3px;
        background-color: $color-text-error;
      }
    }
    &--library {
      position: relative;
      &::before {
        content: ' ';
        position: absolute;
        top: 14px;
        width: 70px;
        height: 3px;
        background-color: $color-text-error;
      }
    }
  }
}
