<dialog data-modal id="" class="login__modal">
  <div class="modal__content">
    <button data-close-modal class="login__close">X</button>
  </div>
  <div id="not-logged-in" class="modal__form">
  <form id="login_form" class="modal__login">
    <input type="text" id="email" placeholder="email" />
    <input type="password" id="password" placeholder="password" />
    <button id="loggin__btn" type="submit">Log in</button>
    <button id="sign__btn" type="submit">Sign in</button>
  </form>
  </div>
</dialog>
