<footer class="footer">
  <div class="footer-wrapper">
    <div><p class="list__items">© 2020 | All Rights Reserved |</p></div>
    <div class="list-wrapper">
      <ul class="footer__list">
        <li class="list__items">Developed with</li>
        <li class="list__items">
          <div class="svg__wrapper">
            <svg class="hearth__svg">
              <use href="../src/images/svg/favorite.svg#favorite"></use>
            </svg>
          </div>
        </li>
        <li class="list__items"><a href="#" id="modal-link">IT Students</a></li>
      </ul>
    </div>
  </div>
</footer>
