<section class="header header__library">
  <div class="header-wrapper header-wrapper__library">
    <div class="header__container header__container--padding">
      <div class="header__box">
        <div class="svg__wrapper">
          <a href="./index.html">
            <svg class="movie__svg">
              <use href="../src/images/svg/film.svg#film"></use>
            </svg>
          </a>
        </div>
        <a class="header__box-link" href="index.html">Filmoteka</a>
      </div>
      <nav class="navigation">
        <ul class="navigation__list">
          <li>
            <a class="navigation__link" href="../src/index.html">home</a>
          </li>
          <li>
            <a
              id="lib-link"
              class="navigation__link navigation__link--library"
              href="./my-library.html"
              >my library</a
            >
          </li>
        </ul>
      </nav>
    </div>
    <div class="btn__wrapper">
      <button class="button-watched active">watched</button>
      <button class="button-queue active">queue</button>
    </div>
    <picture>
      <source
        media="(min-width: 1280px)"
        srcset="
          ./images/header-2/Rectangle-1280px.png 1x,
          ./images/header-2/Rectangle1280@2x.png 2x,
          ./images/header-2/Rectangle1280@3x.png 3x
        "
      />
      <source
        media="(min-width: 768px)"
        srcset="
          ./images/header-2/Rectangle768.png     1x,
          ./images/header-2/Rectangle1280@2x.png 2x,
          ./images/header-2/Rectangle1280@3x.png 3x
        "
      />
      <source
        srcset="
          ./images/header-2/Rectangle320.png    1x,
          ./images/header-2/Rectangle320@2x.png 2x,
          ./images/header-2/Rectangle320@3x.png 3x
        "
        alt="header-background"
      />
    </picture>
  </div>
</section>
