<div class="library-watched is-hidden">
  <img
    src="/src/images/library/empty_library.gif"
    alt="your library is empty!"
    class="travolta-gif"
  />
  <h2 class="library-text">
    It's nothing here! Go ahead and
    <a class="library-text__link" href="index.html">add whatever u want!</a>
  </h2>
</div>

<div class="library-queue is-hidden">
  <img
    src="/src/images/library/empty_library_queue.gif"
    alt="your queue is empty! don't make michael sad..."
    class="scott-gif"
  />
  <h2 class="library-text">
    your queue is empty! don't make michael sad and
    <a class="library-text__link" href="index.html">pick something decent!</a>
  </h2>
</div>

<!-- show movies in library -->
<div id="gallery" class="gallery"></div>

<!-- sounds effects -->
<audio id="toggle-btn" src="./audio/toggle-effect.wav"></audio>
