<div class="watched-empty is-hidden">
  <img
    src="/src/images/library/empty_library.gif"
    alt="your library is empty!"
    class="travolta-gif"
    width="800"
  />
  <h2 class="library-text">It's nothing here! Go ahead and add whatever u want!</h2>
</div>

<div class="queue-empty library-empty-img is-hidden">
  <img
    src="/src/images/library/empty_library_queue.gif"
    alt="your queue is empty! don't make michael sad..."
    class="scott-gif"
    width="800"
  />
  <h2 class="library-text">
    your queue is empty! don't make michael sad and pick something decent!
  </h2>
</div>

<!-- show movies in library -->
<div id="gallery" class="gallery active-watched"></div>
