<div id="modal-team" class="modal-team">
  <!-- CLOSE BTN BEGIN -->
  <button id="modal-team-close" type="button" class="button-modal-close">
    <svg xmlns="http://www.w3.org/2000/svg" width="11" height="11" viewBox="0 0 11 11" fill="none">
      <path
        d="M11 1.10786L9.89214 0L5.5 4.39214L1.10786 0L0 1.10786L4.39214 5.5L0 9.89214L1.10786 11L5.5 6.60786L9.89214 11L11 9.89214L6.60786 5.5L11 1.10786Z"
        fill="black"
      />
    </svg>
  </button>
  <!-- CLOSE BTN END -->

  <h2 class="modal-team-title">Our team</h2>

  <div class="test_wrap">
    <div id="gallery" class="gallery-team">
      <!-- GALLERY TEAM BEGIN -->
      <!-- next member -->
      <figure class="gallery-team__movie-container">
        <img
          class="gallery-team__movie-poster"
          src="./images/team/wiktor-lewandowski.jpg"
          alt="member of team first"
          width="350"
          height="auto"
        />
        <h3 class="gallery-team__movie-title">Wiktor Lewandowski</h3>
        <p class="gallery-team__movie-genres">
          Team leader<br /><i class="fa-sharp fa-solid fa-video"></i> Favourites movies: Bladerunner
          2049, Inception, Everything Everywhere All At Once, Parasite, Au Poste!, KungFu Hustle
        </p>
      </figure>
      <!-- next member -->
      <figure class="gallery-team__movie-container">
        <img
          class="gallery-team__movie-poster"
          src="./images/team/Amadeusz_Rolecki.jpg"
          alt="member of team second"
          width="350"
          height="auto"
        />
        <h3 class="gallery-team__movie-title">Amadeusz Rolecki</h3>
        <p class="gallery-team__movie-genres">
          Scrum master <br /><i class="fa-sharp fa-solid fa-video"></i> Favourites movies: Star
          Wars, Pulp Fiction, Blade Runner,MCU, No Country for Old Man
        </p>
      </figure>
      <!-- next member -->
      <figure class="gallery-team__movie-container">
        <img
          class="gallery-team__movie-poster"
          src="./images/team/Zdjęcie_Anastazja.jpg"
          alt="member of team third"
          width="350"
          height="auto"
        />
        <h3 class="gallery-team__movie-title">Anastazja Nikola Bokun</h3>
        <p class="gallery-team__movie-genres">
          Software Developer <br /><i class="fa-sharp fa-solid fa-video"></i> Favourites movies:
          Powrót Do Przyszłości, Rocky, Titanic, Some Kind Of Monster
        </p>
      </figure>
      <!-- next member -->
      <figure class="gallery-team__movie-container">
        <img
          class="gallery-team__movie-poster"
          src="./images/team/Adrian.jpg"
          alt="member of team fourth"
          width="350"
          height="auto"
        />
        <h3 class="gallery-team__movie-title">Adrian Miarczyński</h3>
        <p class="gallery-team__movie-genres">
          Fullstack Developer <br /><i class="fa-sharp fa-solid fa-video"></i> Favourites
          movies:Interstellar, Forrest Gump, The Lord of the Rings, Gladiator, Strzelec
        </p>
      </figure>
      <!-- next member -->
      <figure class="gallery-team__movie-container">
        <img
          class="gallery-team__movie-poster"
          src="./images/team/gms.jpg"
          alt="member of team fifth"
          width="350"
          height="auto"
        />
        <h3 class="gallery-team__movie-title">Marcin Nieradka</h3>
        <p class="gallery-team__movie-genres">
          Fullstack Developer <br /><i class="fa-sharp fa-solid fa-video"></i> Favourites
          movies:Whiplash, The Shawshank Redemption, Tropic Thunder, Forrest Gump, The Fly (1986)
        </p>
      </figure>
      <!-- next member -->
      <figure class="gallery-team__movie-container">
        <img
          class="gallery-team__movie-poster"
          src="./images/team/Stanisław_Socha.jpg"
          alt="member of team sixth"
          width="350"
          height="auto"
        />
        <h3 class="gallery-team__movie-title">Stanisław Socha</h3>
        <p class="gallery-team__movie-genres">
          Fullstack Developer <br /><i class="fa-sharp fa-solid fa-video"></i> Favourites movies:
          Ojciec Chrzestny, Donnie Brasco, Człowiek z blizną
        </p>
      </figure>
      <!-- next member -->
      <figure class="gallery-team__movie-container">
        <img
          class="gallery-team__movie-poster"
          src="./images/team/photo.jpg"
          alt="member of team"
          width="350"
          height="auto"
        />
        <h3 class="gallery-team__movie-title">Wojciech Dutkiewicz</h3>
        <p class="gallery-team__movie-genres">
          Fullstack Developer <br /><i class="fa-sharp fa-solid fa-video"></i> Favourites movies:
          Ojciec Chrzestny, Władca Pierścieni, Dawno temu w Ameryce
        </p>
      </figure>
      <!-- GALLERY TEAM END -->
    </div>
  </div>
</div>
