.btn {
  &__search {
    position: absolute;
    right: 0px;
    background-color: transparent;
    border: none;
    color: $background-color;
  }
  &__wrapper {
    width: 100%;
    justify-content: center;
    display: flex;
    gap: 0.5rem;
    flex-wrap: wrap;
    padding-top: 12px;
    @media screen and (min-width: 360px) {
      gap: 1.25rem;
    }
    &-form {
      transition: 0.6s;
      flex-direction: column;
      justify-content: center;
      @media screen and (min-width: 768px) {
        gap: 2rem;
      }
      @media screen and (min-width: 1280px) {
        gap: 1rem;
      }
      align-items: center;
      gap: 0;
      @media screen and (min-width: 768px) {
        gap: 0;
      }
      @media screen and (min-width: 1280px) {
        gap: 0;
      }
    }
  }
}
