.btn {
  &__search {
    position: absolute;
    padding: 3px;
    right: 0px;
    background-color: transparent;
    border: none;
    cursor: pointer;
  }
  &__wrapper {
    width: 100%;
    display: flex;
    justify-content: center;
    gap: 1.25rem;
    flex-wrap: wrap;
    padding-top: 12px;
    &-form {
      transition: 0.6s;
      flex-direction: column;
      justify-content: center;
      @media screen and (min-width: 768px) {
        gap: 2rem;
      }
      @media screen and (min-width: 1280px) {
        gap: 1rem;
      }
      align-items: center;
      gap: 0;
      @media screen and (min-width: 768px) {
        gap: 0;
      }
      @media screen and (min-width: 1280px) {
        gap: 0;
      }
    }
  }
}
